/*
0 - 600px:          Phone
600 - 900px:        Tablet portrait
900 - 1200px:       Tablet landscape
[1200 - 1800px]:    Normal style or main css applied.
1800px+:            Big desktop

Arguments of breakpoints
- phone
- tab-port
- tab-land
- big-desk

1em = 16px

order: Base + typography > general layout + grid > page layout > components
*/
/* Colors */
/* Grid System */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif; }
  @media (max-width: 75em) {
    html {
      font-size: 56,25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #FCFCFF; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #FCFCFF;
  font-weight: 700; }

a {
  text-decoration: none; }

a, p, ul, li {
  font-size: 1.4rem; }

ul, li {
  list-style: none; }

input[type="submit"]:focus, input[type="submit"]:active {
  outline: none;
  border: none; }

.btn {
  background: transparent;
  padding: .6rem 1.8rem;
  border-radius: 5rem;
  box-shadow: 0 0 2rem rgba(128, 128, 128, 0.1);
  margin: 2rem 0;
  font-size: 1.3rem;
  font-weight: 700; }
  .btn i {
    color: #2D8AD4;
    margin-right: .6rem; }
  .btn--white {
    background-color: white;
    color: #3A305B; }

.sidebar {
  max-width: 24rem;
  width: 24rem;
  background-color: #3A305B;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll; }
  .sidebar::-webkit-scrollbar {
    width: .8rem; }
  .sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .sidebar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  .sidebar__form {
    margin: 0 auto;
    text-align: center;
    padding-top: 4rem; }
  .sidebar__projects {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.1);
    padding: .9rem 1.8rem;
    color: white;
    border-radius: 5rem;
    border: none;
    outline: none;
    font-size: 1.3rem;
    font-weight: 500; }
  .sidebar--title-nav {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 2.8rem; }
  .sidebar__nav {
    padding-top: 4rem; }
    .sidebar__nav ul {
      padding: 2.5rem 0 3rem 0; }
      .sidebar__nav ul li {
        padding: .9rem 2.5rem;
        margin: .5rem 0 0 2.5rem;
        transition: all .4s ease-in-out; }
        .sidebar__nav ul li a {
          padding: 0;
          margin: 0;
          display: block;
          color: white; }
          .sidebar__nav ul li a i {
            display: inline-block;
            width: 1.5rem;
            margin-right: 2.5rem; }
        .sidebar__nav ul li.active, .sidebar__nav ul li:hover, .sidebar__nav ul li:focus {
          background-color: #312847;
          border-top-left-radius: 5rem;
          border-bottom-left-radius: 5rem;
          padding-right: 0; }
          .sidebar__nav ul li.active a i, .sidebar__nav ul li:hover a i, .sidebar__nav ul li:focus a i {
            color: #2D8AD4; }

.wrapper {
  margin-left: 24rem;
  padding: 0 4.5rem;
  /* HEADER SECTION */
  /* CONTENT */ }
  .wrapper__header {
    padding: 1rem 0;
    width: 100%;
    text-align: right;
    /* SEARCH FORM - INPUT */
    /* USER AREA - NOTIFICATIONS AND SETTINGS */ }
    .wrapper__header .search-area .searchform {
      padding-right: 4rem; }
      .wrapper__header .search-area .searchform__btn {
        cursor: pointer; }
        .wrapper__header .search-area .searchform__btn i {
          font-size: 2rem;
          color: gray; }
      .wrapper__header .search-area .searchform__input {
        width: 0;
        opacity: 0;
        padding: 1rem 1.8rem;
        margin-right: -1rem;
        font-size: 1.4rem;
        border-radius: 5rem;
        border: none;
        transition: all .5s ease; }
      .wrapper__header .search-area .searchform .focus {
        outline: 0;
        box-shadow: 0 0.5rem 1rem rgba(128, 128, 128, 0.2); }
      .wrapper__header .search-area .searchform .active {
        width: 40rem;
        opacity: 1;
        margin-right: 2rem; }
    .wrapper__header .search-area, .wrapper__header .user-area {
      display: inline-block; }
      .wrapper__header .search-area a, .wrapper__header .user-area a {
        vertical-align: top;
        font-size: 2rem;
        margin: 0;
        color: gray; }
    .wrapper__header .notifications {
      position: relative; }
      .wrapper__header .notifications--circle {
        width: .8rem;
        height: .8rem;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: 1.1rem;
        left: .9rem; }
    .wrapper__header .notifications, .wrapper__header .settings-icon {
      padding-right: 4rem; }
      .wrapper__header .notifications i, .wrapper__header .settings-icon i {
        padding-top: 1.4rem; }
    .wrapper__header .user-img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      border: .3rem solid white;
      box-shadow: 0 0.4rem 1rem rgba(128, 128, 128, 0.2); }
      .wrapper__header .user-img img {
        width: 100%;
        min-height: 100%; }
  .wrapper__content {
    padding: 1rem 0; }
