/* Colors */
$purpleLight: #3A305B;
$purpleDark: #312847;
$blue1: #2D8AD4;
$blue: #3EB3FF;
$gray: #FCFCFF;
$orangered: #FF442E;
$pinky: #FF0068;
$graytext: #BFBCCB;


/* Grid System */
$grid-col: 12;
$grid-max-width: 120rem;
$bp-small: "only screen and (min-width: 0px)";
$bp-medium: "only screen and (min-width: 768px)";
$bp-large: "only screen and (min-width: 1008px)";
$bp-xl: "only screen and (min-width: 1300px)";