.container {
    width: 100%;
    margin: 0 auto;

    &:after,
    .row:after {
        content: "";
        display: table;
        clear:both;
    }
}

[class*='col-'] {
    float: left;
    width: 100%;
    padding: 1rem;
    min-height: .1rem;
    display: inline-block;
}

@media #{$bp-small} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

    @for $i from 1 through $grid-col {
        .col-sm-#{$i} {
            width: 100% / $grid-col *$i;
        }
    }
}

@media #{$bp-medium} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

    @for $i from 1 through $grid-col {
        .col-md-#{$i} {
            width: 100% / $grid-col *$i;
        }
    }
}

@media #{$bp-large} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

    @for $i from 1 through $grid-col {
        .col-lg-#{$i} {
            width: 100% / $grid-col *$i;
        }
    }
}

@media #{$bp-xl} {
    .container {
        width: 95%;
        max-width: $grid-max-width;
    }

    @for $i from 1 through $grid-col {
        .col-xl-#{$i} {
            width: 100% / $grid-col *$i;
        }
    }
}