.no-mg { margin: 0 !important; }
.no-pd { padding: 0 !important; }
.right { float: right; }
.left { float: left; }
.f08 { font-size: .8rem; }
.f1 { font-size: 1rem; }
.f12 { font-size: 1.2rem; }
.f14 { font-size: 1.4rem; }